body{
    font-family: 'Segoe UI';
    font-size: 22px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.meatburger{
    margin: 5px;
    padding: 5px;
}

.menu{
    width: 300px;
    /* padding: 15px; */
    margin: 5px;
    float: left;
    transition: all 0.4s;
    height: 480px;
    text-align: center;

    background: linear-gradient(to bottom, #edecec 50%, #fff 50%) bottom;
    background-size: 100% 200%;
}

.menu:hover {
    border: 1px solid #707070;
    box-shadow: 0px 0px 4px 3px #c5c1c1;
    background-position: top;
  }

  .menu .image img{
    width: 100%;
  }

  .menu .img-title{
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Lucia Sans';
    color: #c9332e;
}

.menu .price{
    color: #c9332e;
    font-weight: bolder;
}

.menu .description{
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 20px;
}

.menu .button{
    /* display: none; */
    transform: scale(0);
    margin-top: 20px;
    background-color: #e4504a;
    color: #fff;
    padding: 6px 25px;
    border-radius: 5px;
    transition: all 0.2s;
    box-shadow: 0px 0px 2px 2px #c2bfbf;
    cursor: pointer;
    display: inline-block;
    transform-origin: top center;
}

.menu:hover .button{
    /* display: inline-block; */
    transform: scale(1);
}

.menu .button:active{
    transform: scale(0.9);
}

.menu .button:hover{
    background: linear-gradient(to right, #e4504a, #b35450);
}

.footer-text{
    color: #dbd8d8;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}